RewriteEngine On

# Redirect .html to clean URLs
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.html\ HTTP
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

# Serve the .html file when the clean URL is requested
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*?)/?$ $1.html [L]
